## Visualization Requirements
#
# Core requirements
numpy>=1.4
scipy
matplotlib
Pillow

# Optional requirements
xlrd
xlwt
requests
git+https://github.com/stonebig/ipython-sql@8d06d43c115f582368e7b3aa4f4b2dc4a602f882

# ipython notebook requirements
###
ipython [notebook]
pyzmq
jinja2
tornado
markupsafe
