## Visualization Requirements
#
# Core requirements
numpy>=1.4
scipy
matplotlib
Pillow

# Optional requirements
xlrd
xlwt
requests

# ipython notebook requirements
###
ipython [notebook]
pyzmq
jinja2
tornado
markupsafe
